@import url('./header.css');
@import url('./default.css');
@import url('./footer.css');
@import url('./varibles.css');
@import url('./style.css'); 

#em-desenvolvimento {
    max-width: 100%;
    height: 200vh;
    padding: 70px;
}

#em-desenvolvimento .container-em-desenvolvimento {
    display: flex;
    height: calc(100vh - 70px);
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
}

#em-desenvolvimento .container-em-desenvolvimento h1 {
    text-align: center;
}

#em-desenvolvimento .container-em-desenvolvimento img {
    max-width: 400px;
}