:root {
    --yellow: #FBC000;
    --white: #fff;
    --gray: #f5f5f7;
    --black: #17161A;
    --orange: #FF7200;
    --blackw: #222;
    --transition: .3s ease-in-out;
    --transparent:#f5f5f700;
}